<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <script src="js/jquery-2.2.1.js"></script>
    <meta name="viewport" content="width=device-width">
    <title>Be Growth - Rappi</title>
    <link rel="icon" href="images/favicon.ico">

    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Fredoka+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Alatsi&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="caixapreta">
            <h1><img class="logobranco" src="images/begrr branco.png">Be Growth - Projeto Rappi</a></h1>
        </div>
        <div class="caixacinza">
            <nav>
                <ul>
                    <li><a href='/'>Home</a></li>
                    <li><a href='/supermercados'>Supermercados</a></li>
                    <li><a href='/entregadores'>Entregadores</a></li>
                </ul>
            </nav>
        </div>
    </header>
    </header>
                </ul>
            </nav>
        </div>
    </header>
    <section class="mapa">
        <h3 class="titulo-mapa">Atendemos em todo o Brasil</h3>
        <p>Confira os supermercados parceiros mais próximos.</p>

        <div class="mapa-conteudo">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3645.873318764596!2d-46.32394258501455!3d-23.964919384484094!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce03a908262c51%3A0xc750d4aefd91b6fc!2sR.%20Oswaldo%20Cruz%2C%20322%20-%20Boqueir%C3%A3o%2C%20Santos%20-%20SP%2C%2011045-100!5e0!3m2!1spt-BR!2sbr!4v1575914240251!5m2!1spt-BR!2sbr" width="100%" height="300" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
        </div>
    </section>   
    <section class="parcerias">
        <img src="images/restaurantes.png">
    </section>
</body>
<footer>
    <section class="bordarodape"><p>a</p></section>
        <section class="numerosrodape">
            <p><strong>Central de Atendimento</strong></p>
            <p>São Paulo:<strong>(11) 3xxx-2xxx</strong></p>
            <p>Rio de Janeiro:<strong>(21) xxxx-xxxx</strong></p>
            <p>Demais Regiões:<strong>0800xxxxxx</strong></p>
        </section>
        <section class="direitos">
        <p><strong>Be Growth Rappi</strong> - Todos os direitos reservados</p>
        </section>
</footer>
</html>