<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <script src="js/jquery-2.2.1.js"></script>
    <meta name="viewport" content="width=device-width">
    <title>Be Growth - Supermercados </title>
    <link rel="icon" href="images/favicon.ico">

    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Fredoka+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Alatsi&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="caixapreta">
            <h1><img class="logobranco" src="images/begrr branco.png">Be Growth - Projeto Rappi</a></h1>
        </div>
        <div class="caixacinza">
            <nav>
                <ul>
                    <li><a href='/'>Home</a></li>
                    <li><a href='/supermercados'>Supermercados</a></li>
                    <li><a href='/entregadores'>Entregadores</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <section class="mapa">
        <h3 class="titulo-mapa">Be Growth - Supermercados</h3>
        <p>Seja bem vindo, aqui você pode cadastrar os seus produtos com todas as informações para a coleta. </p>
        <p>Não se preocupe, nossos entregadores farão o resto para você. </p>
        <h3 class="titulo-mapa">Cadastre seu Produto</h3>
        <p>Preencha com as Informações</p>

        <div class="erros">

            <% if(validacao.length > 0) { %>
                <div class="alert alert-danger">
                    <strong>Atenção!</strong>
                    <uL>
                        <% for(var i = 0; i < validacao.length; i++) { %>
                            <li><%=validacao[i].msg%></li>
                        <% } %>
                    </uL>
                </div>
            <% } %>
            <p></p>
        </div>
    <div>
        <form class="formulario" action="/cadastrar" method="POST">

            
            <label for="produto">Produto</label>
            <input type="text" value="<%=dadosForm.produto%>" id="produto" name="produto" class="input-padrao" required>
            <p></p>
            <label for="data">Data de Vencimento</label>
            <input type="date" value="<%=dadosForm.data%>" id="data" name="data" class="input-padrao" required>
            <p></p>
            <label for="local">Local de Coleta</label>
            <input type="text" value="<%=dadosForm.local%>" id="local" name="local" class="input-padrao" required>
            <p></p>
            <input type="submit" value="Enviar formulário" class="enviar">

        </form>
    </div>

    </section>   
    <section class="parcerias">
        <img src="images/restaurantes.png">
    </section>
</body>
<footer>
    <section class="bordarodape"><p>a</p></section>
        <section class="numerosrodape">
            <p><strong>Central de Atendimento</strong></p>
            <p>São Paulo:<strong>(11) 3xxx-2xxx</strong></p>
            <p>Rio de Janeiro:<strong>(21) xxxx-xxxx</strong></p>
            <p>Demais Regiões:<strong>0800xxxxxx</strong></p>
        </section>
        <section class="direitos">
        <p><strong>Be Growth Rappi</strong> - Todos os direitos reservados</p>
        </section>
</footer>
</html>